Email_Support_Automation_CLEAN.json
{
  "name": "Email Support Automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        -128
      ],
      "id": "c5f7a325-2882-4109-8bb1-1293afadefc8",
      "name": "Gmail Trigger",
      "credentials": {
        "info": "REMOVED_FOR_SECURITY"
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject  :  {{ $json.Subject }}\nBody : {{ $json.snippet }}",
        "options": {
          "systemMessage": "#role \nYou are a bot of smart email organizer that analyze and organize the email based on the subject and the body.\n\n#task\n1. Analyze the subject and the body of an email that has sent.\n2. Match it with these category [company finance, internal team, marketing, customer relation, marketplace, supplier, and spammed email.\n3. With RAG tools from google docs choose and retrieve the right response based on the category.\n\n#output-format \n1. return with valid json format specifically \"category\" : ......, \"response\" : ......\n2. Dont give more word.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -96,
        -96
      ],
      "id": "60151ec4-841a-4fc1-aaa6-da83b04e2010",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "gpt-5.1"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -192,
        192
      ],
      "id": "45a6d85e-2547-44e6-ba70-95446ac89514",
      "name": "OpenAI Chat Model",
      "credentials": {
        "info": "REMOVED_FOR_SECURITY"
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nimport json\ndata = _input.first().json.output\nparsed = json.loads(data)\nreturn [{\"json\" : {\"output\" : parsed}}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -80
      ],
      "id": "399e7563-c0a0-4e77-80b4-4fbca4bdf35c",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "company finance",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e6765d97-67e0-4c17-a95a-388e32420881"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "company finance"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7211283e-3bfd-41c0-8087-799f43af65cd",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "internal team",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "internal team"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fab6d91d-ff15-4087-8984-5ef97965827c",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "marketing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "marketing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7ab44e10-d46c-4f0d-bac8-7274011c315a",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "customer relation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "customer relation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "55221e13-b62b-40b0-9c38-84c7e8dcac65",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "marketplace",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "marketplace"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "aa124d30-6246-4012-9cd6-c38056842b80",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "supplier",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "supplier"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7c8f30ea-664d-4971-89a5-1aaff319c277",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "spammed email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "spammed email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        544,
        -144
      ],
      "id": "d5a1b32a-9b5b-43f2-bf5e-bf27bffd564c",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        592,
        240
      ],
      "id": "9c83f7fb-5cd4-43a1-afc0-bdc4b70e7844",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_7897309990221458064"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        544,
        -544
      ],
      "id": "90d1d251-6b5f-4f24-9545-b5a09dbb5045",
      "name": "labelling company finance",
      "webhookId": "5f3c1387-5e4b-4559-b12f-9d141812230c",
      "credentials": {
        "info": "REMOVED_FOR_SECURITY"
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_4077815796843729479"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        800,
        -384
      ],
      "id": "5bd00209-e6e3-4bbc-9508-11f78de9aac2",
      "name": "labelling internal team",
      "webhookId": "c9bca006-b9c6-4a4e-9bcb-584bbf1327aa",
      "credentials": {
        "info": "REMOVED_FOR_SECURITY"
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_7089120980341595333"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        992,
        -320
      ],
      "id": "4f2bd891-8dd0-4549-8d59-d24d93903eed",
      "name": "labelling for marketing email",
      "webhookId": "c9bca006-b9c6-4a4e-9bcb-584bbf1327aa",
      "credentials": {
        "info": "REMOVED_FOR_SECURITY"
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_5667517685628403091"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1184,
        -160
      ],
      "id": "067e44db-6201-4da7-acf1-3cf072b16875",
      "name": "labelling for customer relation",
      "webhookId": "c9bca006-b9c6-4a4e-9bcb-584bbf1327aa",
      "credentials": {
        "info": "REMOVED_FOR_SECURITY"
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_8447733891446692499"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1152,
        192
      ],
      "id": "e55ed500-342f-40a7-87eb-026814096a8a",
      "name": "labelling for supplier ",
      "webhookId": "c9bca006-b9c6-4a4e-9bcb-584bbf1327aa",
      "credentials": {
        "info": "REMOVED_FOR_SECURITY"
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_5667517685628403091"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1056,
        -16
      ],
      "id": "92428efb-767b-4923-9ba6-53d2aad3bab5",
      "name": "labelling for marketplace email",
      "webhookId": "c9bca006-b9c6-4a4e-9bcb-584bbf1327aa",
      "credentials": {
        "info": "REMOVED_FOR_SECURITY"
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": " https://docs.google.com/document/d/1QP2swggYucxGQPgKpAr0wNDOrZG8Vc15FYmzRhTuidw/edit?usp=sharing"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        112,
        160
      ],
      "id": "58e73461-8009-4093-b44a-99389261305e",
      "name": "Get email response based on the category",
      "credentials": {
        "info": "REMOVED_FOR_SECURITY"
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.id }}",
        "emailType": "text",
        "message": "={{ $('Code in Python (Beta)').item.json.output.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        848,
        -576
      ],
      "id": "5638b594-4bff-4f09-a5eb-911d9ac3cb1f",
      "name": "reply company finance response",
      "webhookId": "12e6cf1a-dfd9-498f-ae91-7e13275f67cb",
      "credentials": {
        "info": "REMOVED_FOR_SECURITY"
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.id }}",
        "emailType": "text",
        "message": "={{ $('Code in Python (Beta)').item.json.output.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1120,
        -496
      ],
      "id": "3119371f-8b48-47bf-9478-27df3a9b585f",
      "name": "reply internal team response",
      "webhookId": "12e6cf1a-dfd9-498f-ae91-7e13275f67cb",
      "credentials": {
        "info": "REMOVED_FOR_SECURITY"
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.id }}",
        "emailType": "text",
        "message": "={{ $('Code in Python (Beta)').item.json.output.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1216,
        -368
      ],
      "id": "299171a1-907c-4069-9c20-35737b3488a8",
      "name": "reply for marketing response",
      "webhookId": "12e6cf1a-dfd9-498f-ae91-7e13275f67cb",
      "credentials": {
        "info": "REMOVED_FOR_SECURITY"
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.id }}",
        "emailType": "text",
        "message": "={{ $('Code in Python (Beta)').item.json.output.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1424,
        -224
      ],
      "id": "53cb9470-8ac2-4a86-976b-46a80382b6e2",
      "name": "reply for customer relation response",
      "webhookId": "12e6cf1a-dfd9-498f-ae91-7e13275f67cb",
      "credentials": {
        "info": "REMOVED_FOR_SECURITY"
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.id }}",
        "emailType": "text",
        "message": "={{ $('Code in Python (Beta)').item.json.output.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1552,
        -80
      ],
      "id": "afa06d6c-0672-4add-b08b-322ee4120a0c",
      "name": "reply for marketplace response",
      "webhookId": "12e6cf1a-dfd9-498f-ae91-7e13275f67cb",
      "credentials": {
        "info": "REMOVED_FOR_SECURITY"
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.id }}",
        "emailType": "text",
        "message": "={{ $('Code in Python (Beta)').item.json.output.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1648,
        144
      ],
      "id": "6f7d7be5-fc89-45a5-b6c5-2840799db626",
      "name": "reply for supplier response",
      "webhookId": "12e6cf1a-dfd9-498f-ae91-7e13275f67cb",
      "credentials": {
        "info": "REMOVED_FOR_SECURITY"
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19bab39f6efe8de1",
          "threadId": "19bab39f6efe8de1",
          "snippet": "Yth. Bapak/Ibu Manajemen, Dengan hormat, Bersama email ini kami sampaikan ringkasan laporan keuangan perusahaan untuk periode Januari 2026 sebagai berikut: 1. Pendapatan Total pendapatan bulan Januari",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 8759,
          "historyId": "1753",
          "internalDate": "1768104249000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "Valen Andrean <valenandrean29@gmail.com>",
          "Subject": "Laporan Keuangan Bulanan \u2013 Januari 2026",
          "To": "\"valenpalaente@gmail.com\" <valenpalaente@gmail.com>"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "labelling company finance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "labelling internal team",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "labelling for marketing email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "labelling for customer relation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "labelling for marketplace email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "labelling for supplier ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get email response based on the category": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "labelling company finance": {
      "main": [
        [
          {
            "node": "reply company finance response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "labelling internal team": {
      "main": [
        [
          {
            "node": "reply internal team response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "labelling for marketing email": {
      "main": [
        [
          {
            "node": "reply for marketing response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "labelling for customer relation": {
      "main": [
        [
          {
            "node": "reply for customer relation response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "labelling for marketplace email": {
      "main": [
        [
          {
            "node": "reply for marketplace response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "labelling for supplier ": {
      "main": [
        [
          {
            "node": "reply for supplier response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "83887f31-5c54-4a41-9f84-7667b15973ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4332c9bfc365cf11a702c84ec4704879e9022a2b441b07243d0e6e7e0a55123e"
  },
  "id": "nSb82Va2VsrvuEuH",
  "tags": []
}